<!DOCTYPE html>
<html>
    <head>
        <title>Editar Producto</title>
    </head>
    <body>
        <div class="container">
            <h3><a href="/productos">Lista de Productos</a></h3>
            <h1>Editar Producto</h1>
            <form action="/productos/update/{{ producto._id }}" method="post">
                <table>
                    <tbody>
                        <tr>
                            <td>Producto</td>
                            <td><input type="text" name="producto" value="{{ producto.producto }}" /></td>
                        </tr>
                        <tr>
                            <td>Marca</td>
                            <td><input type="text" name="marca" value="{{ producto.marca }}" /></td>
                        </tr>
                        <tr>
                            <td>Modelo</td>
                            <td><input type="text" name="modelo" value="{{ producto.modelo }}" /></td>
                        </tr>
                        <tr>
                            <td>Estado</td>
                            <td><input type="text" name="estado" value="{{ producto.estado }}" /></td>
                        </tr>
                        <tr>
                            <td colspan="2"><button type="submit">Actualizar</button></td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </body>
</html>
