<h1>{{title}}</h1>


<h1> Productos</h1>
    <p >
        <div class="container">
            <h3><a href="/productos/create">Crear Producto</a></h3>
            <h1>Lista de Productos</h1>
            {{#if productos }}
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Marca</th>
                            <th>Modelo</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{# each productos }}
                        <tr>
                            <td><a href="/productos/show/{{ _id }}">{{ producto }}</a></td>
                            <td>{{ marca }}</td>
                            <td>{{ modelo }}</td>
                            <td>{{ estado }}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            {{~^~}}
                <div>Productos no encontrados.</div>
            {{/if}}
        </div>
    </p>
